{% extends 'components/layout.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row m-0">
        <div class="col-7">
            {% for p in posts %}
            <div class="card mb-4">
                <div class="card-header">
                    @{{ p.post_author.username }}
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{ p.body }}</p>
                        <footer class="blockquote-footer"><cite title="Source Title">{{ p.timestamp }}</cite></footer>
                    </blockquote>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-5">
            <h1>{{ user.username }}</h1>
            <h3>Member since: {{ user.created }}</h3>
        </div>
    </div>
</div>
{% endblock content %}